.cuerpo {
    background-color: black;
}
.icono{
    color: white;
    background-color: #2FC4EB;
}
.fondo_icono {
    background-color: #2FC4EB;
}
.texto_secundario {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    color: white;
}
.texto_principal {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 600;
    text-align: center;
    color: white;
}